{% extends 'base.html' %}
{% block title %}add gzh{% endblock %}

{% block body_block %}

{#    <h1>添加公众号</h1>#}

<div class="clearfix visible-xs"></div>

    <div class="container">
   <div class="row" >
       <div class="col-xs-6 col-sm-3">

        <form id="gzh_form" method="post" action="">

{#            {% csrf_token %}#}
{#            {% for gzh in form.hidden_fields %}#}
                {{ form.as_p }}
{#            {% endfor %}#}

{#            <input type="submit" name="submit" value="add gzh" />#}
            <button class="btn btn-primary" type="submit" name="submit">添加公众号</button>
        </form>
           </div>
       </div>
    </div>


{% endblock %}