{% extends 'base.html' %}
{% block title %}更新文章列表{% endblock %}

{% block body_block %}
    <style type="text/css">
        div.pagination
        {
        position:fixed;
        bottom:0
        }
{#     ul {#}
{#        width: 210px;#}
{#    }#}
{#     li {#}
{#        width: 100px;   /*如果显示三列 则width改为70px*/#}
{#        float: left;#}
{#        display: block;}#}
    </style>

    <ul >
    {% for article in articles %}
        <li><a href=/article/content/{{article.id }}>{{ article.title }}</a></li>
    {% endfor %}
    </ul>


        <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
            {% endif %}
        </span>

    </div>

{% endblock %}