{% extends 'base.html' %}
{% block title %}文章列表{% endblock %}

{% block body_block %}
<div class="container">
<table id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-show-footer="false"
           data-side-pagination="server"
           data-url="/article/"
           data-response-handler="responseHandler">
    </table>
</div>

<script>
    var $table = $('#table')

    function initTable() {
        $table.bootstrapTable({

            height: getHeight(),
            method: 'get',
            columns: [
                    [
                        {
                            title: '日期',
                            field: 'date',
                            align: 'center',
                            valign: 'middle',
{#                            footerFormatter: tatalTextFormatter#}
                        },{
                            title: '标题',
                            field: 'title',
                            align: 'center',
                            valign: 'middle',
{#                            footerFormatter: tatalTextFormatter#}
                    }
                    ]
            ]
        });
        setTimeout(function () {
            $table.bootstrapTable('resetView');
        }, 200);

        
    }
</script>
{% endblock %}