{% extends 'base.html' %}
{% block title %}文章列表{% endblock %}

{% block body_block %}
{#    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>#}
{#<ul>#}
{#    {% for item in date_articles %}#}
{##}
{#            <li>date:{{ item.0 }}</li>#}
{#        {% for article in item.1 %}#}
{##}
{#        <li><a href=/article/content/{{ article.id }}>{{ article.title }}</a></li>#}
{#       {% endfor %}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{##}
{##}
{#</ul>#}

<table class="table">
    <thead class="thead-inverse">
        <tr>
          <th>#</th>

          <th>日期</th>
          <th>title</th>
    </thead>
  {% for item in date_articles %}

  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ item.0 }}</td>
        <td>
            {% for article in item.1 %}
            <li><a href=/article/content/{{ article.id }}>{{ article.title }}</a></li>
            {% endfor %}
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}