{% extends 'base.html' %}
{% block title %}文章列表{% endblock %}

{% block body_block %}


<table class="table">
    <thead class="thead-inverse">
        <tr>
          <th>  </th>
          <th>日期</th>
          <th>title</th>
    </thead>
  {% for item in date_articles %}

  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ item.0 }}</td>
        <td>
            {% for article in item.1 %}
            <li><a href=/article/content/{{ article.id }}>{{ article.title }}</a></li>
            {% endfor %}
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if date_articles.has_previous %}
            <a href="?page={{ date_articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ date_articles.number }} of {{ date_articles.paginator.num_pages }}.
        </span>

        {% if date_articles.has_next %}
            <a href="?page={{ date_articles.next_page_number }}">next</a>
        {% endif %}
    </span>

</div>


{% endblock %}