{#{% load pagination_tags %}#}
{% extends 'base.html' %}
{% block title %}公众号列表{% endblock %}

{% block body_block %}

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>  </th>
          <th>公众号</th>
          <th>微信号</th>
          <th>功能介绍</th>
          <th>微信认证</th>
          <th>头像</th>
{#            <th>删除</th>#}
        </tr>
    </thead>
  {% for gzh in gzhs %}
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><a href=/article/{{ gzh.weixin_id }}>{{ gzh.name }}</a></td>
      <td> {{ gzh.weixin_id }}</td>
      <td>{{ gzh.introduction }}</td>
      <td>{{ gzh.verify_name }}</td>
      <td><img src="./static/images/{{ gzh.weixin_id }}.png"></td>
{#        <td><button type="button" id='delete'>删除</button></td>#}
    </tr>
  </tbody>
  {% endfor %}
</table>

    <div class="pagination">
    <span class="step-links">
        {% if gzhs.has_previous %}
            <a href="?page={{ gzhs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ gzhs.number }} of {{ gzhs.paginator.num_pages }}.
        </span>

        {% if gzhs.has_next %}
            <a href="?page={{ gzhs.next_page_number }}">next</a>
        {% endif %}
    </span>

</div>

{#    <script>#}
{#    $(document).ready(function(){#}
{#      $("#delete").click(function(){#}
{#          var _id=$("#wx_id").val();#}
{##}
{#        $.get("article/delete/",{'id': _id})#}
{#      });#}
{#    });#}
{#</script>#}
{% endblock %}