
{% extends 'base.html' %}
{% block title %}公众号列表{% endblock %}

{% block body_block %}
        <ul >
        {% for gzh in gzhs %}

            <li><a href=/article/{{ gzh.weixin_id }}>公众号:{{ gzh.name }}</a></li>
            <li>微信号:{{ gzh.weixin_id }}</li>
            <li>功能介绍:{{ gzh.introduction }}</li>
            <li>微信认证:{{ gzh.verify_name }}</li>
            <li><img src="static/images/{{ gzh.weixin_id }}.png"></li>
{#            <li><a href=/article/new/{{ gzh.weixin_id }}>今日更新</a></li>#}
        {% endfor %}
        </ul>


{% endblock %}